In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Discrimination_Complaints_Filed_by_Month_and_Type__2017-Present_20240416.csv')

# Melt the DataFrame to transpose the months into one column
melted_df = pd.melt(df, id_vars=["Year", "Type of Complaint"], var_name="Month", value_name="Value")

# Display the transposed DataFrame
print(melted_df)

     Year                       Type of Complaint    Month  Value
0    2017         Total Complaints Filed by Month  January   10.0
1    2017        City Employment Complaints Filed  January    0.0
2    2017  Public Accommodations Complaints Filed  January    3.0
3    2017                Housing Complaints Filed  January    4.0
4    2017     Private Employment Complaints Filed  January    3.0
..    ...                                     ...      ...    ...
619  2024    Fair Chance Housing Complaints Filed    Total    0.0
620  2024       Fair Contracting Complaints Filed    Total    0.0
621  2024                Housing Complaints Filed    Total    1.0
622  2024     Private Employment Complaints Filed    Total    2.0
623  2024  Public Accommodations Complaints Filed    Total    0.0

[624 rows x 4 columns]

In [3]:
melted_df.head()

   Year                       Type of Complaint    Month  Value
0  2017         Total Complaints Filed by Month  January   10.0
1  2017        City Employment Complaints Filed  January    0.0
2  2017  Public Accommodations Complaints Filed  January    3.0
3  2017                Housing Complaints Filed  January    4.0
4  2017     Private Employment Complaints Filed  January    3.0

In [4]:
df=melted_df.rename(columns={'Value': 'Complaints_count'})

In [5]:
df.head()

   Year                       Type of Complaint    Month  Complaints_count
0  2017         Total Complaints Filed by Month  January              10.0
1  2017        City Employment Complaints Filed  January               0.0
2  2017  Public Accommodations Complaints Filed  January               3.0
3  2017                Housing Complaints Filed  January               4.0
4  2017     Private Employment Complaints Filed  January               3.0

In [6]:
df.to_csv('Discrimination_in_Seattle.csv')